.item {
    display: none;
}

.search-input::placeholder {
    border-radius: red;
}

.inner-block {
    background-color: red;


    flex-direction: column;

    align-items: center;


    max-width: 200px;
    display: flex;
    justify-content: center;
}

.list {
    background-color: brown;
}